$container-width: 1530px;
$container-paddings: 15px;
.container {
  max-width: $container-width;
  margin-inline: auto;
  padding-inline: $container-paddings;
}

.smaller-container {
  max-width: 1275px;
  margin-inline: auto;
  padding-inline: $container-paddings;
}
