.footer {
  width: 100%;
  height: 480px;
  background-color: $main-dark-blue;
  color: white;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__section {
    flex: 1;
    margin-right: 20px;
  }

  &__section ul {
    list-style: none;
    padding-left: 0;
    line-height: 2;
  }

  &__section-socmed {
    display: flex;
    height: 32px;
    gap: 3.4%;
  }

  &__section-socmed-item {

  }

  &__section-follow {
    margin-top: 28px;
  }

  &__section-follow-title {
    padding: 4px 0px 4px 0px;
  }

  &__bottom {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }

  &__buttons {
    margin-top: 10px;
  }
}
