@import 'basic-elements';
//$menu-color: #060F42;

.header {

  &__wrap {
    height: 40px;
    background-color: $main-dark-blue;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 9%;
    align-items: center;

    &-item {
      color: $white-color;
      font-size: 10px;
      white-space: nowrap;

      svg {
        width: 24px;
        height: 24px;
      }

      &-lang {
        width: 42px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.nav-margin {
  width: 106px;
  gap: 3%;
}