.mobile-reviews {
  display: none;
  width: 100%;

  &__container {
    max-width: $container-width;
    margin-inline: auto;
    padding-inline: $container-paddings;
  }

  &__title {
    font: {
      size: 24px;
      weight: 600;
    };
    line-height: 24px;
    color: $main-dark-blue;
  }

  &__rating {
    &-grade {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &-wrap {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    &-grade-numeral {
      font: {
        size: 22px;
        weight: 900;
      };
      line-height: 100%;
      color: $main-dark-blue;
    }

    &-grade-stars {
      display: flex;
      gap: 4px;

      svg {
        width: 10px;
        height: 10px;
      }
    }

    &-grade-link {
      font: {
        size: 12px;
        weight: 500;
      };
      line-height: 12px;
      color: $secondary;
    }
  }

  /*&__rating-grade-stars {
    display: flex;

    svg {
      width: 10px;
      height: 10px;
    }
  }*/

  &__slider-container {
    width: 100%;
    overflow: hidden;
    height: 271px;
  }

  &__item {
    width: 250px;
    border-radius: 4px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8px;
    box-shadow: 0px 2px 10px 0px #E5E5E5;

    &-photo {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    &-name {
      display: flex;
      justify-content: center;
      font: {
        size: 18px;
        weight: 700;
      };
      color: $main-dark-blue;
      line-height: 24px;
    }

    &-text {
      font: {
        size: 14px;
        weight: 400;
      };
      line-height: 20px;
      color: #666666;
      margin-top: 8px;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      &-stars {
        display: flex;
        gap: 4px;

        svg {
          width: 12px;
          height: 12px;
        }
      }

      &-date {
        font:{
          size: 14px;
          weight: 400;
        };
        line-height: 20px;
        color: #666666;
      }
    }
  }
}

.reviews__slider {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 666px) {
  .mobile-reviews {
    display: block;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .mobile-reviews__item {
    width: 250px !important;
  }

  .mobile-reviews__title {
    font-size: 18px;
  }
}
