.partners {

  &__title {
    margin-top: 48px;
    font-size: 24px;
  }

  &__icons-block {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hp {
    width: 46px;
    height: 46px;
  }

  &__lenovo {
    width: 91px;
    height: 30px;
  }

  &__sony {
    width: 119px;
    height: 22px;
  }

  &__samsung {
    width: 106px;
    height: 36px;
  }

  &__acer {
    width: 97px;
    height: 26px;
  }

  &__link {
    font-size: 14px;
    margin-top: 27px;
    text-align: right;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 1200px) {
    .partners__icons-block {
      gap: 2%;
    }
}

@media (max-width: 767px) {
  .partners {
    overflow: hidden;
  }

  .picture img {
    width: unset;
    height: unset;
  }
}
