.reviews-and-inst {
  height: 282px;
  max-width: 1532px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 666px) {
  .reviews-and-inst {
    //max-width: unset;
    display: none;
  }

  /*.reviews-and-inst.container {
    max-width: unset;
    margin-inline: unset;
    padding-inline: unset;
  }*/
}
