.top-goods {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1%;

  &__link {
    width: 100%;
    margin: 27px 0;
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 900px) {
  .top-goods {
    grid-template-columns: repeat(3, 1fr);
  }

  @for $i from 4 through 6 {
    .order-#{$i} {
       display: none;
    }
  }
}

@media (max-width: 655px) {
  .top-goods {
    grid-template-columns: repeat(2, 1fr);
  }

  @for $i from 3 through 6 {
    .order-#{$i} {
      display: none;
    }
  }
}
