.partners {

  &__title {
    margin-top: 48px;
    font-size: 24px;
  }

  &__icons-block {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hp {
    width: 46px;
    height: 46px;
   /* background-image: url("/src/img/hp_logo.png");*/
  }

  &__lenovo {
    width: 91px;
    height: 30px;
    /*background-image: url("/src/img/lenovo-logo.png");*/
  }

  &__sony {
    width: 119px;
    height: 22px;
    /*background-image: url("/src/img/sony-logo.png");*/
  }

  &__samsung {
    width: 106px;
    height: 36px;
    /*background-image: url("/src/img/samsung_logo.png");*/
  }

  &__acer {
    width: 97px;
    height: 26px;
    /*background-image: url("/src/img/acer-logo.png");*/
  }

  &__link {
    margin-top: 27px;
  }
}